.main-header {
    padding: var(--large-padding) 8%;
    position: -webkit-sticky;
    position: sticky;
    height: 8vh;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease;
    background: var(--color-primary);
}

.sticky {
    background: transparent;
    box-shadow: 0 1rem 2rem var(--dark-color);
    backdrop-filter: blur(1rem);
}

.group-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact-button {
    background-color: var(--color-quaternary);
    border: none;
    padding: var(--small-padding);
    border-radius: var(--circle-radius);
    transition: box-shadow 1s ease;
}

.contact-button:hover {
    box-shadow: 11px 9px 15px -5px var(--color-shadow-quaternary);
    transform: scale(1.01);
}

.user-profile {
    width: 3rem;
    height: 3rem;
    padding: var(--small-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.user-profile i {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.user-profile button:hover>i:hover {
    color: var(--color-shadow-primary);
}

#navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#nav-icon {
    font-size: 24px;
}

.store-name {
    font-family: 'Indie Flower';
}

#nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-item {
    list-style: none;
    transition: .35s;
    cursor: pointer;
}

#nav_list:hover> :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.active a {
    color: var(--dark-color);
    border-bottom: 3px solid var(--color-quintenary);
}

#mobile_menu {
    display: none;
}

/* Estilos para telas pequenas (celulares) */
@media only screen and (max-width: 600px) {
    #navbar ul{
        display: none;
    }

    .nav-icon {
        font-size: 1em;
    }

    .store-name {
        font-size:1em;
    }

    .main-header {
        padding: calc(var(--small-padding) / 1);
    }

    .group-items {
        gap: 2rem;
    }

    .contact-button {
        padding: var(--extra-small-padding);
    }

    .user-profile {
        padding: var(--extra-small-padding);
    }

    .user-profile i {
        font-size: 1.2rem;
    }

    /* Mobile Menu */
    /* Menu para Celular */

    /* Adiciona o ícone de hamburguer para o menu móvel */
    #mobile_menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    #mobile_menu button {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    /* Estiliza o ícone de hamburguer */
    #mobile_menu button .hamburger-icon {
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: relative;
        transition: all 0.3s ease-in-out;
    }

    /* Adiciona a animação para o ícone de hamburguer */
    #mobile_menu button .hamburger-icon::before,
    #mobile_menu button .hamburger-icon::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
    }

    /* Posiciona as linhas do ícone de hamburguer */
    #mobile_menu button .hamburger-icon::before {
        top: -10px;
    }

    #mobile_menu button .hamburger-icon::after {
        top: 10px;
    }

    /* Animação para transformar o ícone de hamburguer em X */
    #mobile_menu.mobileon button .hamburger-icon {
        background-color: transparent;
    }

    #mobile_menu.mobileon button .hamburger-icon::before {
        transform: translateY(10px) rotate(45deg);
    }

    #mobile_menu.mobileon button .hamburger-icon::after {
        transform: translateY(-10px) rotate(-45deg);
    }
}

/* Estilos para telas médias (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .main-header {
        padding: var(--medium-padding) 8%;
    }
}

/* Estilos para telas grandes (desktops) */
@media only screen and (min-width: 1025px) {
    .main-header {
        padding: var(--large-padding) 8%;
    }
}