@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --color-primary: #ADD9D1;
    --color-secondary: #BF6836;
    --color-terciary: #590202;
    --color-quaternary: #D94A4A;
    --color-quintenary: #F2A7A7;

    --color-shadow-primary: #5F9E95;
    --color-shadow-secondary: #7A3E1F;
    --color-shadow-terciary: #290000;
    --color-shadow-quaternary: #8E2F2F;
    --color-shadow-quintenary: #C98E8E;

    --light-color: white;
    --gray-color: gray;
    --dark-color: black;

    --small-text: 8px;
    --medium-text: calc(var(--small-text) * 1.61);
    --large-text: calc(var(--medium-text) * 1.61);

    --small-margin: 8px;
    --medium-margin: calc(var(--small-margin) * 1.61);
    --large-margin: calc(var(--medium-margin) * 1.61);

    --small-padding: 8px;
    --medium-padding: calc(var(--small-padding) * 1.61);
    --large-padding: calc(var(--medium-padding) * 1.61);

    --arround-radius: 0.5rem;
    --circle-radius: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--dark-color);
    background: white;
    /* height: 700vh; */
}

.main-header {
    background-color: var(--color-primary);
    padding: var(--large-padding) 8%;
    position: -webkit-sticky;
    position: sticky;
    height: 8vh;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.3s ease;  
    box-shadow: none; 
}

.main-header.sticky {
    box-shadow: 0px 8px 10px var(--color-shadow-primary); /* Adicionamos um box-shadow mais visível */
}

.contact-button {
    background-color: var(--color-quaternary);
    border: none;
    padding: var(--small-padding);
    border-radius: var(--circle-radius);
    transition: box-shadow 1s ease;
}

.contact-button:hover{
    box-shadow: 11px 9px 15px -5px var(--color-shadow-quaternary);
    transform: scale(1.01);
}

#navbar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#nav-icon {
    font-size: 24px;
}

.store-name {
    font-family: 'Indie Flower';
}

#nav_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.active a{
    color: var(--dark-color);
    border-bottom: 3px solid var(--color-quintenary);
}

/* Sections */

#home {
    background-color: greenyellow;
    width: 100%;
    height: 92vh;
}

#about {
    background-color: pink;
    width: 100%;
    height: 100vh;
}

#menu {
    background-color: blue;
    width: 100%;
    height: 100vh;
}

#testimonials {
    background-color: green;
    width: 100%;
    height: 100vh;
}

#location {
    background-color: black;
    width: 100%;
    height: 100vh;
}